:root{
  --color1: #222126;
  --color2: #1d1c40;
  --color3: #D9AD77;
  --color4: #f3f0bf;
  --color5: gold;
}

.bg-color1{
  background-color: var(--color1);
  color: var(--color3);
}
.bg-color2{
  background-color: var(--color2);
  color: var(--color3);
}
.bg-color3{
  background-color: var(--color3);
  color: var(--color1);
}
.bg-color4{
  background-color: var(--color4);
  color: var(--color2);
}
.bg-color5{
  background-color: var(--color5);
  color: var(--color2);
}

.txt-color1{
  color: var(--color1);
}
.txt-color1:hover{
  color: var(--color3);
}

.txt-color2{
  color: var(--color2);
}
.txt-color2:hover{
  color: var(--color3);
}

.txt-color3{
  color: var(--color3);
}
.txt-color3:hover{
  color: var(--color5);
}

.btn-gold{
  background-color: var(--color3);
  color: var(--color1);
}

.btn-gold:hover{
  background-color: gold;
  color: var(--color2);
}


.logo{
  width: 10rem;
  margin: 0 auto;
  display: block;
}

.nav-logo{
  width: 4rem;
  margin: 0 auto;
  display: block;
}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  background-color: var(--color1);
  color: var(--color3);
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
}